

.bt-keluar{
	text-align:right;
}
.Id-user{
	text-align: right;
}
.bodytabel{
	padding:15px;
}
.jdl-mhs{
	background-color:#008080;
	color: white;
	font-size: 30px;
	width: 1350px;
	text-align: center;
}
 
