
.inpt-npm{
	width: 350px;
	height: 40px;
}
.inpt-nama{
	width: 350px;
	height: 40px;

}
.inpt-jurusan{
	width: 350px;
	height:40px;

}
.inpt-alamat{
	width: 350px;
	height: 40px;

}
.inpt-telepon{
	width: 350px;
	height: 40px;

}
.inpt-gambar{
	width: 350px;
	height: 40px;

}
 





